{% extends "base.html" %} 
{% block page_title %} Admin {% endblock page_title %}
{% block subtitle %} SPK Bantuan UMKM {% endblock subtitle %} 
{% block subtitle2 %} Penilaian {% endblock subtitle2 %} 
{% block contents %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <!-- Hitung NORMALISASI -->
          <div class="card">
          <div class="card-body">
           <p>[Note:  B = Benefit
                  C = Cost]</p>
            
            
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Keterangan</th>
                  
                  <th>C1 - Jenis Usaha [B] | max</th>
                  <th>C2 - Jumlah Pekerja [B] | max</th>
                  <th>C3 -  modal Usaha [C] | min</th>
                 
                </tr>
                </thead>
                <tbody>
              <tr>
                  <th> Nilai Max/Min Kriteria</th>
                 
                  <td>70</td>
                  <td>40</td>
                  <td>40</td>
               

                </tr>
                </tbody>
               
              </table>
              </div>

          <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </div>
    <!-- /.container-fluid -->
  
  </section>
{% endblock contents %}
