{% extends "base.html" %} 
{% block page_title %} Admin {% endblock page_title %}
{% block subtitle %} SPK Bantuan UMKM {% endblock subtitle %} 
{% block subtitle2 %} Keputusan {% endblock subtitle2 %} 
{% block contents %}

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <!-- Hitung NORMALISASI -->
          <div class="card">
          <div class="card-body">

            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Business Name</th>
                  <th>Ranking Value</th>
                </tr>
              </thead>
              <tbody>
                {% for result in ranking_results|dictsortreversed:"ranking_value" %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ result.nama_usaha }}</td>
                        <td>{{ result.ranking_value|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>

          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

</section>

{% endblock contents %}
